$rounding: 10px
$border-color: #c9c9c9
    
.AddInput
    display: flex
    flex-direction: column


.inputWrapper
    display: flex
    width: 100%
    align-self: center
    margin-bottom: 10px
    .input
        flex-basis: 70%

.rightPart
    flex-basis:30%
    overflow: hidden
    border-radius: 0 $rounding $rounding 0

.buttons
    width: 100%
    display: flex
    flex-direction: column
    height: 60%
    button:first-child
        margin-bottom: 10px
    